{% trans_default_domain "messages" %}

{% extends 'Default/template.html.twig' %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

        {% block titleBar %}
            <div id="titleBar">
                <h2 class="alert alert-success text-center">{{ title|default('Gibbon - Responsive')|trans([], 'mobile') }}</h2></div>
        {% endblock titleBar %}


{% block content %}
    <div id="loginForm">
        {{ form_start(form) }}
            <div class="container-fluid">
                <div class="row alert alert-success">
                    <div class="col-8 lead">{{ 'Login'|trans }}</div>
                    <div class="col-4 text-right">
                        {% if getSetting('System', 'googleOAuth') is same as('Y') %}
                            {{ miscButton({class: 'btn btn-success fab fa-google', title: 'Sign in with Google', transDomain: 'messages', windowOpen: {route: path('google_oauth')}, style: {}})|raw }}
                        {% endif %}
                    </div>
                </div>
                {% if error %}
                    <div class="row alert alert-danger">
                        <div class="col-12">
                            {{ error.messageKey|trans(error.messageData) }}
                            {% if app.environment is not same as('prod') %}
                                <br/>
                                {{ error.message }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 card">
                        {{ form_row(form._username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card">
                        <div class="form-group">
                            <div class="input-group">
                                {{ form_widget(form._password) }}
                                <div class="input-group-append">{{ saveButton({style: {}, title: 'Login'})|raw }}</div>
                            </div>
                            {{ form_label(form._password) }}
                            {{ form_errors(form._password) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ renderValidatorScript(fullForm) }}
{% endblock javascripts %}



