{% trans_default_domain "messages" %}

{% extends 'Default/template.html.twig' %}

{% set title = 'New Notifications' %}
{% set messages = manager.messages %}

{% block content %}
    <div class="container">
        {% if manager.messageCount > 0 %}
            {% for message in manager.messages %}
                <div class="row">
                    <div class="col-2 card text-center">
                        <div>{{ message.person.renderImage(0)|raw }}</div>
                        <!-- <div>Likes</div> -->
                        <small><b><u>{{ 'Posted By'|trans }}</u></b><br>{{ message.person.formatName() }}</small>
                        <small><br /><b><u>{{ 'Shared via'|trans }}</u></b><br>
                            {% if manager.getSharedDetail(message) is iterable %}
                                {{  manager.getSharedDetail(message)[0]|trans(manager.getSharedDetail(message)[1])|trans }}
                            {% else %}
                                {{  manager.getSharedDetail(message)|trans }}
                            {% endif %}
                        </small>
                    </div>
                    <div class="col-10 card">
                        <h4 class="alert alert-info">{{ message.subject }}</h4>
                        <div>
                            {{ message.body|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row align-self-center">
                <div class="col-12 card text-center alert alert-info">
                    {{ 'There are no records to display.'|trans }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}