{% trans_default_domain "messages" %}
<div class="container">
    <div class="row border-bottom">
        <div class="col-12">
            <p class="text-xl-left text-uppercase">{{ manager.dashboardName|trans }}</p>
        </div>
    </div>
    <div class="container">
        <div class="row border-bottom">
            <div class="col-12">
                <p class="text-lg-left text-uppercase">{{ "Today's Lessons"|trans }}</p>
            </div>
        </div>
        {% if manager.lessonContent is empty %}
            <div class="row">
                <div class="col-12 alert-warning">
                    <p>{{ "There are no records to display."|trans }}</p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-2 card card-header">
                    {{ 'Class'|trans }}
                </div>
                <div class="col-2 card card-header">
                    {{ 'Lesson'|trans }}
                </div>
                <div class="col-2 card card-header">
                    {{ 'Homework'|trans }}
                </div>
                <div class="col-2 card card-header">
                    {{ 'Summary'|trans }}
                </div>
                <div class="col-2 card card-header">
                    {{ 'Like'|trans }}
                </div>
                <div class="col-2 card card-header">
                    {{ 'Action'|trans }}
                </div>
            </div>
            {% for record in manager.lessonContent %}
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div id="tt"></div>
    </div>
</div>
