{% trans_default_domain "messages" %}

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{{ 'Gibbon Mobile'|trans }}{% endblock title %}</title>

        {% block stylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
    <div class="container">
    {% block content %}
        {% block messages %}
            {% include 'Default/flash.html.twig' %}
        {% endblock messages %}
    {% endblock content %}
    {% block footer %}
        <div class="container text-center" style="padding: 0; background-color: rgba(100,100,100,0.5);">
            <div class="text-center text-white" style="min-height: 75px;">
                    <img src="{{ asset('images/logo.png') }}" height="75" alt="{{ 'Logo'|trans }}" style="float: left;" />
                    <p class="small" style="padding-top: 0.5rem;">{{ 'Powered by'|trans }} Gibbon-Mobile {{ getVersion() }} &copy; Craig Rayner 2018</small>
                    <p class="small">
                        {{ 'Created under the'|trans }} <a target='_blank' href='https://www.gnu.org/licenses/gpl.html' class="text-white">GNU GPL</a>
                        @ <a target='_blank' href='http://www.ichk.edu.hk' class="text-white">ICHK</a> |
                        <a target='_blank' href='https://gibbonedu.org/about/#ourTeam' class="text-white">{{ 'Credits'|trans }}</a> |
                        <a target='_blank' href='https://gibbonedu.org/about/#translators' class="text-white">{{ 'Translators'|trans }}</a>
                    </p>
            </div>
        </div>
    {% endblock footer %}
    </div>
    <div id="coreRender"></div>
    {% block javascripts %}
        <script type="application/javascript" language="JavaScript">
            function cssLinks(){
                {% set link = encore_entry_css_files('core') %}
                {% for css in link %}
                    var newLink = document.createElement("link");
                    newLink.href = '{{ asset(css) }}'
                    newLink.rel = 'stylesheet'
                    newLink.type = 'text/css'
                    newLink.media = 'screen'
                    document.head.appendChild(newLink)
                {% endfor %}
            }
            window.addEventListener('load', cssLinks);
            {% if props is not defined %}{% set props = {timeOut: timeOut} %}{% endif %}
            {% set props = props|merge({timeOut: timeOut}) %}
            {% set props = props|merge({enableTimeout: app.user|default('empty')}) %}
            {% set props = props|merge({locale: app.request.get('_locale')}) %}
            {% set props = props|merge({translations: coreTranslations()}) %}
            window.CORE_PROPS = {{ props|json_encode|raw }}
        </script>
        {{ encore_entry_script_tags('core') }}
    {% endblock javascripts %}
    </body>
</html>
