{% trans_default_domain "messages" %}

<!DOCTYPE html >
<html lang="{{ app.request.get('_locale') }}" xml:lang="{{ app.request.get('_locale') }}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-Language" content="{{ app.request.get('_locale') }}">
        <title>{% block title %}{{ 'Gibbon - Responsive' }}{% endblock title %}</title>
        {% block stylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
    <div>
        {% block slideMenu %}
            <div id="slideMenu"></div>
        {% endblock slideMenu %}
        <div id="mobileContent" style="float: right; width: calc(100% - 64px)">
            <div class="container-fluid mobileContent" >
                {% block titleBar %}
                    <div id="titleBar">
                        <h2 class="alert alert-success text-center">{{ title|default('Gibbon - Responsive')|trans([], 'mobile') }}
                            {% block notificationTray %}
                                <div id="notificationTray" style="float: right;"></div>
                            {% endblock notificationTray %}
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <br/><small style="font-size: 1rem"><a href="{{ path('home', {'_switch_user': '_exit'}) }}" title="{{ 'Exit Impersonation'|trans({}, 'mobile') }}">{{ 'Impersonating: %{name}'|trans({'%{name}': getUser().formatName}, 'mobile') }}</a></small>
                            {% endif %}
                        </h2>
                    </div>
                {% endblock titleBar %}
                {% block flashMessages %}
                    {% include 'Message/flash.html.twig' %}
                {% endblock flashMessages %}
                {% block content %}
                {% endblock content %}
                {% block footer %}
                    <div class="container-fluid text-center mobileFooter">
                        <div class="d-none d-sm-none d-md-block">
                            <div class="row text-center text-charcoal">
                                <div class="col-3">
                                    <img src="{{ asset('build/static/logo.png') }}" class="image-fluid" alt="{{ 'Logo'|trans }}" />
                                </div>
                                <div class="col-9">
                                    <p class="small" style="padding-top: 0.5rem;">{{ 'Powered by'|trans }} {{ 'Gibbon - Responsive'|trans([], 'mobile') }} {{ getVersion() }} for Gibbon Version {{ getGibbonVersion() }} &copy; Craig Rayner 2018 - {{ 'today'|date('Y') }}</small>
                                    <p class="small">
                                        {{ 'Created under the'|trans }} <a target='_blank' href='https://www.gnu.org/licenses/gpl.html' class="text-charcoal">GNU GPL</a>
                                        @ <a target='_blank' href='http://www.ichk.edu.hk' class="text-charcoal" title="Hill Range Services">HRS</a> |
                                        <a target='_blank' href='https://gibbonedu.org/about/#ourTeam' class="text-charcoal">{{ 'Credits'|trans }}</a> |
                                        <a target='_blank' href='https://gibbonedu.org/about/#translators' class="text-charcoal">{{ 'Translators'|trans }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-sm-block d-md-none">
                            <div class="row text-center text-charcoal">
                                <div class="col-12">
                                    <div class="col-12">
                                        <img src="{{ asset('build/static/logo.png') }}" class="image-fluid" alt="{{ 'Logo'|trans }}" style="float: left; height: 50px;"  />
                                    </div>
                                    <p class="small" style="padding-top: 0.5rem;">Gibbon-Responsive {{ getVersion() }}<br />for Gibbon Version {{ getGibbonVersion() }}<br />&copy; Craig Rayner 2018 - {{ 'today'|date('Y') }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock footer %}
            </div>
        </div>
    </div>
    <div id="coreRender"></div>
    <div id="dumpStuff"></div>
    {% block javascripts %}
        <script type="application/javascript" language="JavaScript">
            function cssLinks(){
                {% set link = encore_entry_css_files('core') %}
                {% for css in link %}
                    var newLink = document.createElement("link");
                    newLink.href = '{{ asset(css) }}'
                    newLink.rel = 'stylesheet'
                    newLink.type = 'text/css'
                    newLink.media = 'screen'
                    document.head.appendChild(newLink)
                {% endfor %}
                {% set link = encore_entry_css_files('slideMenu') %}
                {% for css in link %}
                    newLink = document.createElement("link");
                    newLink.href = '{{ asset(css) }}'
                    newLink.rel = 'stylesheet'
                    newLink.type = 'text/css'
                    newLink.media = 'screen'
                    document.head.appendChild(newLink)
                {% endfor %}
            }
            window.addEventListener('load', cssLinks());
            {% if props is not defined %}{% set props = {timeOut: timeOut} %}{% endif %}
            {% set props = props|merge({timeOut: timeOut}) %}
            {% set props = props|merge({enableTimeout: app.user|default('empty')}) %}
            {% set props = props|merge({locale: app.request.get('_locale')}) %}
            {% set props = props|merge({translations: coreTranslations()}) %}
            window.CORE_PROPS = {{ props|json_encode|raw }}
            window.TRAY_PROPS = {{ getNotificationTray()|raw }}
            window.MENU_PROPS = {{ getMenuItems(app.user, props)|raw }}
        </script>
        {{ encore_entry_script_tags('core') }}
        {{ encore_entry_script_tags('slideMenu') }}
        {% if coreOnly is not defined %}
            {{ encore_entry_script_tags('notificationTray') }}
            {% if manager is defined and hasTimetable(manager) %}
                <script type="application/javascript" language="JavaScript">
                    function cssTimetableLinks(){
                        {% set link = encore_entry_css_files('timetable') %}
                        {% for css in link %}
                        var newLink = document.createElement("link");
                        newLink.href = '{{ asset(css) }}'
                        newLink.rel = 'stylesheet'
                        newLink.type = 'text/css'
                        newLink.media = 'screen'
                        document.head.appendChild(newLink)
                        {% endfor %}
                    }
                    window.addEventListener('load', cssTimetableLinks());
                    window.TIMETABLE_PROPS = {{ manager.properties|json_encode|raw }}
                </script>
                {{ encore_entry_script_tags('timetable') }}
            {% endif %}
        {% endif %}
    {% endblock javascripts %}
    </body>
</html>
{% block magicStuff %}{% endblock magicStuff %}